#board {
  margin-top: 10px;
  text-align: center;
}
/*left column*/
#cell0, #cell3{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#cell6{
  border-right: 2px solid black;
}

/*middle column*/
#cell1, #cell4{
  border-bottom: 2px solid black;
}

/*bright column*/
#cell2, #cell5{
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
#cell8{
  border-left: 2px solid black;
}

.box {
  height: 150px;
}

.x, .o {
  text-align: center;
}

.x{
  border: 2px solid green;
}

.message{
  width: 30%;
  height: 20%;
  position: absolute;
  margin-left: 29%;
  margin-top: 10%;
  display: none;
  z-index: 2;
}

.box>h1{
  font-size: 100px;
}
