body{
  min-height: 100%;
  height: 100%;
  background: #e8edf3;
}

#header{
  background: #252839;
}

#main{
  background: #e8edf3;
}

#board {
  margin-top: 10px;
  text-align: center;
}
/*left column*/
#cell0, #cell3{
  border-right: 3px solid #252839;
  border-bottom: 3px solid #252839;;
}
#cell6{
  border-right: 3px solid #252839;;
}

/*middle column*/
#cell1, #cell4{
  border-bottom: 3px solid #252839;;
}

/*bright column*/
#cell2, #cell5{
  border-left: 3px solid #252839;;
  border-bottom: 3px solid #252839;;
}
#cell8{
  border-left: 3px solid #252839;;
}

#header h1{
  color: #f2b632;
}

#play-again{
  width: 50%;
  height: 40px;
  border-radius: 10px;
  background: #e8edf3;
  color: black;
  font-size: 20px;
}

.container{
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.box {
  height: 150px;
}

.x, .o {
  text-align: center;
}

.x{
  border: 2px solid green;
}

.message{
      height: 0; /*75%*/
      width: 100%;
      position: fixed;
      z-index: 1;
      left: 0;
      bottom: 0;
      text-align: center;
      background-color: rgba(37,40,57, 0.9);
      overflow-x: hidden;
      transition: 1s;
}

.message-content{
  position: relative;
  top: 25%;
  color: #f2b632;
  width: 40%;
  text-align: center;
  margin-left: 30%;
}

.box>h1{
  font-size: 100px;
}

.visuallyhidden {
  opacity: 0;
}
